@font-face {
    font-family: fonte;
    src: url("Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
}

.body{
    font-family: fonte;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 45px;
}

.iniciar{
    color: blue;
}

.check-btn{
    color: red;
}
